<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="It.Uniba.Di.Cdg.SocialTfs.Client.Setting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="It.Uniba.Di.Cdg.SocialTfs.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <It.Uniba.Di.Cdg.SocialTfs.Client.Setting>
      <setting name="ProxyHost" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyRoot" serializeAs="String">
        <value/>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value/>
      </setting>
      <setting name="UserEmail" serializeAs="String">
        <value/>
      </setting>
      <setting name="Password" serializeAs="String">
        <value/>
      </setting>
      <setting name="SavePassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
    </It.Uniba.Di.Cdg.SocialTfs.Client.Setting>
    <It.Uniba.Di.Cdg.SocialTfs.Client.Properties.Settings>
      <setting name="ConsumerKey" serializeAs="String">
        <value>0420346c93971f2f502c1e47d57e16c2</value>
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
        <value>95c9aa26bd158cac524f57280d191904</value>
      </setting>
      <setting name="Token" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TokenSecret" serializeAs="String">
        <value>0</value>
      </setting>
    </It.Uniba.Di.Cdg.SocialTfs.Client.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
