<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.GitHub.GitHubSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.GitHub.GitHub" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Linkedin.LinkedInUri" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.StatusNet.StatusNetUri" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Twitter.TwitterUri" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Yammer.YammerUri" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Facebook.FacebookUri" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Facebook.FacebookProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.TeamFoundationServer.ServiceProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Ohloh.OhlohProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Twitter.ServiceProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.StatusNet.ServiceProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Linkedin.LinkedInProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.GitHub.GitHubSetting>
            <setting name="Label" serializeAs="String">
                <value/>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.GitHub.GitHubSetting>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.GitHub.GitHub>
            <setting name="Label" serializeAs="String">
                <value/>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.GitHub.GitHub>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Linkedin.LinkedInUri>
            <setting name="VERIFY_CREDENTIALS" serializeAs="String">
                <value>/v1/people/~:(id,picture-url)?format=json</value>
            </setting>
            <setting name="SKILLS" serializeAs="String">
                <value>/v1/people/~:(skills)?format=json</value>
            </setting>
            <setting name="FRIENDS" serializeAs="String">
                <value>/v1/people/~/connections?format=json</value>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Linkedin.LinkedInUri>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.StatusNet.StatusNetUri>
            <setting name="VERIFY_CREDENTIALS" serializeAs="String">
                <value>/api/account/verify_credentials.json</value>
            </setting>
            <setting name="UPDATE" serializeAs="String">
                <value>/api/statuses/update.json</value>
            </setting>
            <setting name="DESTROY" serializeAs="String">
                <value>/api/statuses/destroy.json</value>
            </setting>
            <setting name="USER_TIMELINE" serializeAs="String">
                <value>/api/statuses/user_timeline.json</value>
            </setting>
            <setting name="FOLLOWINGS" serializeAs="String">
                <value>/api/friends/ids.json</value>
            </setting>
            <setting name="FOLLOWERS" serializeAs="String">
                <value>/api/followers/ids.json</value>
            </setting>
            <setting name="USER" serializeAs="String">
                <value>/api/users/show.json</value>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.StatusNet.StatusNetUri>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Twitter.TwitterUri>
            <setting name="VERIFY_CREDENTIALS" serializeAs="String">
                <value>/1.1/account/verify_credentials.json</value>
            </setting>
            <setting name="UPDATE" serializeAs="String">
                <value>/1.1/statuses/update.json</value>
            </setting>
            <setting name="DESTROY" serializeAs="String">
                <value>/1.1/statuses/destroy.json</value>
            </setting>
            <setting name="USER_TIMELINE" serializeAs="String">
                <value>/1.1/statuses/user_timeline.json</value>
            </setting>
            <setting name="FOLLOWINGS" serializeAs="String">
                <value>/1.1/friends/ids.json</value>
            </setting>
            <setting name="FOLLOWERS" serializeAs="String">
                <value>/1.1/followers/ids.json</value>
            </setting>
            <setting name="USER" serializeAs="String">
                <value>/1.1/users/show.json</value>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Twitter.TwitterUri>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Yammer.YammerUri>
            <setting name="VERIFY_CREDENTIALS" serializeAs="String">
                <value>/api/v1/users/current.json</value>
            </setting>
            <setting name="USER_TIMELINE" serializeAs="String">
                <value>/api/v1/messages/sent.json</value>
            </setting>
            <setting name="USER" serializeAs="String">
                <value>/api/v1/users/</value>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Yammer.YammerUri>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Facebook.FacebookUri>
            <setting name="VERIFY_CREDENTIALS" serializeAs="String">
                <value>/me</value>
            </setting>
            <setting name="USER_TIMELINE" serializeAs="String">
                <value>/me/posts</value>
            </setting>
            <setting name="AVATAR" serializeAs="String">
                <value>/me/picture</value>
            </setting>
            <setting name="FRIEND" serializeAs="String">
                <value>/me/friends</value>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Facebook.FacebookUri>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Facebook.FacebookProperties>
            <setting name="Name" serializeAs="String">
                <value>Facebook</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Facebook.FacebookProperties>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.TeamFoundationServer.ServiceProperties>
            <setting name="Name" serializeAs="String">
                <value>Team Foundation Server</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.TeamFoundationServer.ServiceProperties>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Ohloh.OhlohProperties>
            <setting name="Name" serializeAs="String">
                <value>Ohloh</value>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Ohloh.OhlohProperties>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Twitter.ServiceProperties>
            <setting name="Name" serializeAs="String">
                <value>Twitter</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Twitter.ServiceProperties>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.StatusNet.ServiceProperties>
            <setting name="Name" serializeAs="String">
                <value>StatusNet</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.StatusNet.ServiceProperties>
        <It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Linkedin.LinkedInProperties>
            <setting name="Name" serializeAs="String">
                <value>LinkedIn</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
        </It.Uniba.Di.Cdg.SocialTfs.ServiceLibrary.Linkedin.LinkedInProperties>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
